<h2>My People</h2>
<div>
  <label>Persons name:
    <input #personName />
  </label>
  <button (click)="add(personName.value); personName.value=''">
    add
  </button>
</div>
<ul class="people">
<li *ngFor="let person of people">
  <a routerLink="/detail/{{person.id}}">
    <span class="badge">{{person.id}}</span> {{person.name}}
  </a>
  <button class="delete" (click)="delete(person)" title="Delete this fellow?">X</button>
</li>
</ul>
<app-person-detail [person]="selectedPerson"></app-person-detail>