#dashboard-wrapper{
  background-color:rgb(224, 163, 105);
  text-align:center;
  border: 7px groove #ccc;
  width:20%;
  height:33%;
  border-radius: 5px;
}
class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;  
}

.col-1-10 {
  width: 10%;
  font-size: 14px;
}
.module {
  padding: 5px;
  text-align: center;
  color: #eee;
  max-height: 60px;
  min-width: 80px;
  background-color: #70bbe0;
  border-radius: 5px;
 margin:auto;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
  
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}